.ui.card {
  width: 100% !important; }

.ui.segment {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(185, 188, 210, 0.2);
  border: solid 1px #e8e8ec; }

.configure-reports {
  height: 100%;
  overflow: hidden; }

  .configure-reports  p{
    margin: 1em 0;}

._col6{
  width:50%;
  padding: 0 5%;
  float: left;
}
.submit-btn{
  color: white !important;
  margin: 120px 5% 20px 5% !important;
  width: 90% !important;
  background-color: #0074a6 !important;
}

.submit-btn:focus {
  color: #0076b6 !important;
  background-color: #f2fbfe !important;
  border-color: #0076b6 !important;
  outline: none !important;
  box-shadow: inset 0 0 0 1px #0076b6 !important;
}